---
import style from "./style.css";
---

<nav>
    <img class="logo" src="/logo.svg" alt="logo" />
    <div class="options">
        <div class="options_bar"></div>
        <div class="options_bar"></div>
        <div class="options_bar"></div>
    </div>
</nav>
